* {
    padding: 0;
    margin: 0;
}
body {
    background: #F6F7F9;
}
.block {
    background: #FFFFFF;
    display: inline-block;
    margin: 2px 0px;
    border: solid 1px #c7c9cc;
    border-radius: 5px;
}
.line {
    stroke: rgb(255, 0, 0);
    stroke-width: 1;
}
#debug_info {
    display: none;
}
#transactions_choose .sub_menu:hover {
    color: #000000;
}
.top_menu {
    background: #FFFFFF;
    border-bottom: 2px solid #c7c9cc;
    display: inline-block;
    padding: 2px;
    width: 79%;
}
.top_menu #logo {
    float: left;
}
.top_menu .sub_menus {
    list-style-type: none;
    float: left;
    margin-top: 25px;
}
.top_menu .sub_menus li {
    display: inline;
}
.top_menu #create_payment {
    margin-top: 20px;
    float: left;
}
.profile_placeholder {
    top: 0%;
    bottom: 0%;
    right: 1%;
    background: #3E4758;
    color: #FFFFFF;
    padding-top: 2%;
    position: fixed;
    width: 20%;
}
.profile_placeholder .profile ul {
    list-style-type: none;
}
.profile_placeholder .color_choose {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
}
.profile_placeholder #grey_bck {
    background-color: #F6F7F9;
}
.profile_placeholder #blue_bck {
    background-color: #0000ff;
}
.profile_placeholder #purp_bck {
    background-color: #8b00ff;
}
.profile_placeholder #ads {
    padding: 5px;
    text-align: center;
    background: #6195bf;
    background: linear-gradient(to top, #42aaff, #808080);
    margin-top: 5px;
}
.sub_menu {
    margin: 1px;
    color: black;
    text-decoration: none;
    text-align: center;
    min-width: 80px;
    font-size: medium;
    float: left;
}
.top_options .sub_menu:hover {
    color: #C7C8CA;
}
.main_part {
    width: 70%;
    position: static;
    margin-top: 5px;
    margin-left: 5%;
}
.exchange_rates {
    text-align: center;
    width: 100%;
}
.transaction {
    text-align: center;
    width: 100%;
}
.copyright {
    text-align: center;
    width: 100%;
}
.operation {
    width: 100%;
    display: inline-block;
    border: #C7C8CA solid;
    border-width: 1px 0px 1px 0px;
    margin: 1px 0px 1px 0px;
    padding: 7px 0px;
}
.operation:hover {
    background-color: lightyellow;
}
.operation .date {
    width: 7%;
    float: left;
}
.operation .company {
    width: 15%;
    float: left;
}
.operation .text {
    width: 60%;
    float: left;
}
.delimeter {
    width: 100%;
    border: 1px solid #FFFFFF;
    margin-bottom: 3px;
    margin-top: 3px;
}
.right_menu {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 2px;
}
.ad_header {
    font-size: large;
}
#transactions_choose {
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 1px solid;
}
#transactions_choose .sub_menu {
    display: inline-block;
    text-decoration: none;
    color: #C7C8CA;
    width: 16%;
}
.rouble_account {
    width: 47%;
}
.accounts_border {
    width: 6%;
}
.dollar_account {
    width: 47%;
}
@media screen and (max-width: 980px) {
    body {
        font-size: xx-large;
    }
    .menu_hider {
        width: 40%;
        height: 90px;
        border: 2px solid;
        display: inline-block;
    }
    #black_menu_hider {
        background-color: #3E4758;
    }
    .menu_hider {
        background-image: url('../img/menu.svg');
        background-size: 100%;
        background-position: left center;
    }
    .sub_menus {
        display: none;
    }
    .sub_menu {
        font-size: x-large;
    }
    h3 {
        font-size: x-large;
    }
    h5, li, a {
        font-size: x-large;
    }
    .profile_placeholder {
        display: none;
        top: auto;
        bottom: auto;
        position: static;
        width: 100%;
    }
    .profile_placeholder .profile ul li {
        display: inline;
    }
    .profile_placeholder .color_choose {
        width: 300px;
        height: 150px;
    }
    .top_menu {
        text-align: center;
        margin: auto;
        width: 100%;
    }
    .top_menu .sub_menus {
        margin-top: 0px;
    }
    .top_menu .sub_menus li {
        display: block;
    }
    .top_menu #logo {
        width: 100%;
    }
    .top_menu #create_payment {
        margin-top: 0px;
        width: 100%;
        font-size: xx-large;
    }
    .right_menu {
    }
    .main_part {
        width: 90%;
    }
    .main_part #transactions_choose {
        display: none;
    }
    .operation .date {
        width: 30%;
    }
    .operation .company {
        width: 30%;
    }
    .operation .text {
        display: none;
    }
    .operation .cash {
        width: 35%;
        float: left;
    }
    .rouble_account, .dollar_account {
        width: 100%;
    }
    .accounts_border {
        width: 0px;
    }
}
