* {
    padding: 0;
    margin: 0;
}
body {
    background: #F6F7F9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.block {
    background: #FFFFFF;
    display: inline-block;
    margin: 2px 0px;
    border: solid 1px #c7c9cc;
    border-radius: 5px;
    box-sizing: border-box;
}
.line {
    stroke: rgb(255, 0, 0);
    stroke-width: 1;
}
#debug_info {
    display: none;
}
#transactions_choose .sub_menu:hover {
    color: #000000;
}
.top_menu {
    position: relative;
    background: #FFFFFF;
    border-bottom: 2px solid #c7c9cc;
    display: inline-block;
    padding: 2px;
    width: 79%;
}
.top_menu .sub_menus {
    list-style-type: none;
    position: absolute;
    left: 310px;
    top: 50%;
    transform: translateY(-50%);
}
.top_menu .sub_menus li {
    display: inline;
}
.top_menu .sub_menus .sub_menu {
    margin: 1px;
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 0px 5px;
    float: left;
}
.top_menu .sub_menus .sub_menu:hover {
    color: #C7C8CA;
}
.profile_placeholder {
    top: 0%;
    bottom: 0%;
    right: 1%;
    background: #3E4758;
    color: #FFFFFF;
    padding-top: 2%;
    position: fixed;
    width: 20%;
}
.profile_placeholder .profile {
    padding: 3px;
}
.profile_placeholder .profile ul {
    padding: 3px;
    list-style-type: none;
}
.profile_placeholder .profile ul li a:hover {
    color: #C7C8CA;
}
.profile_placeholder .colors {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.profile_placeholder .color_choose {
    width: 20%;
    height: 50px;
    display: inline-block;
    margin: 5px;
    box-sizing: border-box;
}
.profile_placeholder #grey_bck {
    background-color: #F6F7F9;
}
.profile_placeholder #blue_bck {
    background-color: #0000ff;
}
.profile_placeholder #purp_bck {
    background-color: #8b00ff;
}
.profile_placeholder #ads {
    padding: 5px;
    text-align: center;
    background: #6195bf;
    background: linear-gradient(to top, #42aaff, #808080);
    margin-top: 5px;
}
.main_part {
    width: 70%;
    position: static;
    margin-top: 5px;
    margin-left: 5%;
}
.exchange_rates {
    width: 100%;
    text-align: center;
}
.exchange_rates * {
    display: inline;
}
.exchange_delimeter {
    display: inline-block;
    width: 10%;
}
.transaction {
    text-align: center;
    width: 100%;
}
.copyright {
    text-align: center;
    width: 100%;
}
.operation {
    width: 100%;
    display: inline-block;
    border: #C7C8CA solid;
    border-width: 0px 0px 1px 0px;
    margin: 1px 0px 1px 0px;
    padding: 7px 0px;
    position: relative;
}
.operation:hover {
    background-color: lightyellow;
}
.operation .date {
    width: 12%;
    position: absolute;
    left: 0%;
}
.operation .company {
    width: 15%;
    position: relative;
    left: 12%;
}
.operation .text {
    width: 60%;
    position: absolute;
    left: 27%;
    top: 50%;
    transform: translateY(-50%);
}
.operation .cash {
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
}
.delimeter {
    width: 100%;
    border: 1px solid #FFFFFF;
    margin-bottom: 3px;
    margin-top: 3px;
}
.right_menu {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 2px;
    font-size: 1.2em;
}
#transactions_choose {
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 1px solid;
}
#transactions_choose .sub_menu {
    display: inline-block;
    text-decoration: none;
    color: #C7C8CA;
    width: 16%;
}
.accounts {
    width: 100%;
}
.rouble_account {
    width: 47%;
    padding: 7px;
}
.dollar_account {
    width: 47%;
    padding: 7px;
    float: right;
}
.just_mobile {
    display: none;
}
.profile_close {
    display: none;
}
.menu_close {
    display: none;
}
#op0 {
    border-top: 0px;
}
