@media screen and (max-width: 20em) {
    body {
        font: 1.5em/150% "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .menu_hider {
        width: 40%;
        height: 90px;
        border: 2px solid;
        display: inline-block;
    }
    #black_menu_hider {
        background-color: #3E4758;
    }
    .menu_hider {
        background-image: url('../img/menu.svg');
        background-size: 100%;
        background-position: left center;
    }
    .sub_menu {
        width: 20%;
        margin: 1px 0px;
        font-size: 1.2em;
        padding: 15px;
        box-sizing: border-box;
    }
    .sub_menus {
        display: none;
    }
    .sub_menus li {
        display: inline;
    }
    .profile_placeholder {
        display: none;
        top: auto;
        bottom: auto;
        position: static;
        width: 100%;
        font-size: 1.2em;
    }
    .profile_placeholder .profile ul li {
        display: inline-block;
        min-width: 33%;
        padding: 5px;
    }
    .profile_placeholder .color_choose {
        width: 300px;
        height: 150px;
        border-radius: 50px;
    }
    .profile_placeholder h1,h2,h3,h4 {
        padding: 10px;
    }
    .top_menu {
        text-align: center;
        margin: auto;
        width: 100%;
    }
    .top_menu .sub_menus {
        margin-top: 0px;
        width: 100%;
    }
    .top_menu #logo {
        width: 100%;
    }
    .top_menu #create_payment {
        margin-top: 0px;
        float: none;
        width: 90%;
        font-size: 1.4em;
        box-sizing: border-box;
    }
    .main_part {
        width: 90%;
    }
    .main_part #transactions_choose {
        display: none;
    }
    .operation .date {
        width: 30%;
    }
    .operation .company {
        width: 30%;
    }
    .operation .text {
        display: none;
    }
    .operation .cash {
        width: 35%;
        float: left;
    }
    .rouble_account, .dollar_account {
        width: 100%;
    }
    .accounts_border {
        width: 0px;
    }
}

@media screen and (max-width: 15em) {
    .sub_menu {
        min-width: 7em;
    }
}
