@media screen and (max-width: 650px) {
    body {
        font: 1.3em/150% "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .profile_placeholder {
        display: none;
        top: auto;
        bottom: auto;
        position: static;
        width: 100%;
        font-size: 1.2em;
    }
    .profile_placeholder #grey_bck {
        margin-left: 4%;
    }
    .profile_placeholder .profile .organization {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
    .profile_placeholder .profile .name {
        text-align: center;
    }
    .profile_placeholder .profile ul li {
        display: inline-block;
        min-width: 100%;
        padding: 5px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 15px;
        margin-top: 5px;
    }
    .profile_placeholder .color_choose {
        width: 30%;
        height: 50px;
        border-radius: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .profile_placeholder h1,h2,h3,h4 {
        padding: 10px;
    }
    .profile_placeholder .profile_close {
        font-size: 1.4em;
        width: 5%;
        display: block;
        float: left;
        margin-left: 5%;
        margin-bottom: 15px;
    }
    .top_menu {
        height: 40px;
        border-bottom: 1px solid #c7c9cc;
        padding: 5px;
        text-align: center;
        margin: auto;
        width: 100%;
        box-sizing: border-box;
    }
    .top_menu .sub_menus {
        margin: 0px;
        display: none;
        text-align: center;
        position: static;
        width: 100%;
        transform: none;
    }
    .top_menu .sub_menus li {
        display: inline;
    }
    .top_menu #logo {
        display: none;
        width: 100%;
    }
    .top_menu .sub_menus #create_payment {
        font-size: 1.4em;
    }
    .top_menu .sub_menus .menu_close {
        font-size: 1.4em;
        position: absolute;
        display: block;
        float: left;
        margin-top: 2%;
        margin-left: 5%;
    }
    .top_menu .sub_menus .sub_menu {
        width: 100%;
        margin: 1px auto;
        font-size: 1.2em;
        padding: 15px;
        box-sizing: border-box;
        float: none;
        display: block;
        margin: 0px;
    }
    .main_part {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .main_part #transactions_choose {
        display: none;
    }
    .operation {
        margin: 0px;
    }
    .operation .date {
        padding-left: 5%;
        text-align: left;
        position: static;
        width: 50%;
    }
    .operation .company {
        display: none;
    }
    .operation .text {
        display: none;
    }
    .operation .cash {
        text-align: right;
        padding-right: 5%;
        width: 50%;
    }
    .rouble_account, .dollar_account {
        width: 100%;
    }
    .accounts_border {
        width: 0px;
    }
    .right_menu {
        font-size: 1.2em;
    }
    .just_mobile {
        display: block;
        position: relative;
    }
    .just_mobile #menu_mob {
        position: absolute;
        left: 1%;
    }
    .just_mobile #logo_mob {
        position: absolute;
        left: 45%;
    }
    .just_mobile #profile_mob {
        position: absolute;
        right: 1%;
    }
    .mobile_menu_icon {
        height: 30px;
    }
    .mobile_info {
        transition-property: display 2s;
        background: #ada2a2;
        color: white;
    }
    .modal_content select {
        height: 2.5em;
    }
    .modal_content .modal_text_form {
        height: 2.5em;
    }
    .modal_content #corp_select {
        width: 100%;
    }
}
