<html>
    <head>
        <title>Пенькофф</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/modal.css">
        <link rel="stylesheet" type="text/css" href="css/mobile.css">
        <link rel="stylesheet" type="text/css" href="css/button.css">
        <script src="js/angular.js"></script>
        <script src="js/my_ng.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl" ng-style="body_style">
    <div class="top_menu">
        <img id="logo" src="img/pen.svg" alt="Логотип">

        <ul class="sub_menus" ng-style="white_menu_style">
            <span class="menu_close" ng-click="hide_menu()">x</span>
            <li><a class="sub_menu" href="#" ng-click="show_modal()">Главная</a></li>
            <li><a class="sub_menu" href="#" ng-click="show_modal()">Контрагенты</a></li>
            <li><a class="sub_menu" href="#" ng-click="show_modal()">Лимиты</a></li>
            <li><a class="sub_menu" href="#" ng-click="show_modal()">Тариф</a></li>
            <li><a class="sub_menu" href="#" ng-click="show_modal()">Справка</a></li>
            <li><a id="create_payment" class="sub_menu" href="#" ng-click="show_modal_new_op()"> Создать платёж</a></li>
        </ul>
        <div class="just_mobile">
            <img class="mobile_menu_icon" id="menu_mob" src="img/menu.svg" alt="" ng-click="show_menu()">
            <img class="mobile_menu_icon" id="logo_mob" src="img/pen_just_logo.svg" alt="">
            <img class="mobile_menu_icon" id="profile_mob" src="img/profile.svg" alt="" ng-click="show_profile()">
        </div>
    </div>
    <div class="profile_placeholder" ng-style="black_menu_style">
        <div class="profile">
            <span class="profile_close" ng-click="hide_profile()">x</span>
            <h2 class="name">Заводских Роман</h2>
            <h4 class="organization">МФТИ</h4>
            <div class="delimeter"></div>
            <ul>
                <li><a href="#" id="rko" class="right_menu" ng-click="show_modal()">РКО</a></li>
                <li><a href="#" id="salary_project" class="right_menu" ng-click="show_modal()">Зарплатный проект</a></li>
                <li><a href="#" id="acquiring" class="right_menu" ng-click="show_modal()">Эквайринг</a></li>
                <li><a href="#" id="buy_by_credit" class="right_menu" ng-click="show_modal()">КВК</a></li>
                <li><a href="#" id="accounting" class="right_menu" ng-click="show_modal()">Бухгалтерия</a></li>
                <li><a href="#" id="settings" class="right_menu" ng-click="show_modal()">Панель управления</a></li>
            </ul>
            <div id="ads">
                <h4 class="ad_header">Не экономьте на платежах.</h4> Совершайте неограниченное число платежей за 990 рублей в месяц
            </div>
        </div>
        <div class="colors">
            <span class="color_choose" id="grey_bck" ng-click="make_body_grey()" ng-style="grey_style"></span>
            <span class="color_choose" id="blue_bck" ng-click="make_body_blue()" ng-style="blue_style"></span>
            <span class="color_choose" id="purp_bck" ng-click="make_body_violet()" ng-style="purp_style"></span>
        </div>
    </div>
    <div class="main_part">
        <div class="accounts">
            <div class="rouble_account block" on-click="renderGraphs()">
                    Рублёвый счёт <br> {{cash.rouble}}р
                    <svg id="rouble_svg" height="{{graphHeight}}" width="100%" viewBox="0 0 {{viewPortScale}} {{viewPortScale}}" preserveAspectRatio="none">
                        <defs>
                            <linearGradient id="grad1" x1="0%" y1="100%" x2="100%" y2="0%">
                                <stop offset="0%" style="stop-color: rgb(255,255,255); stop-opacity:1" />
                                <stop offset="100%" style="stop-color: rgb(0,0,255); stop-opacity:1" />
                            </linearGradient>
                        </defs>
                        <g class="line_grouper">
                            <polyline class="line" points="{{pointsRouble}}" fill="url(#grad1)"/>
                        </g>
                        <g class="grid">
                            <line class="grid_line" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]" x1="0" x2="{{viewPortScale}}" y1="{{i*viewPortScale/10}}" y2="{{i*viewPortScale/10}}">
                        </g>
                        Простите, но SVG у вас не поддерживается, графичков тут не будет!!!
                    </svg>
            </div>
            <div class="dollar_account block">
                    Долларовый счёт <br> {{cash.dollar}}$
                    <svg id="dollar_svg" height="{{graphHeight}}" width="100%" viewBox="0 0 {{viewPortScale}} {{viewPortScale}}" preserveAspectRatio="none">
                        <g class="line_grouper">
                            <polyline class="line" points="{{pointsDollar}}" />
                        </g>
                        <g class="grid">
                            <line class="grid_line" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]" x1="0" x2="{{viewPortScale}}" y1="{{i*viewPortScale/10}}" y2="{{i*viewPortScale/10}}">
                        </g>
                        Простите, но SVG у вас не поддерживается, графичков тут не будет!!!
                    </svg>
            </div>
        </div>
        <div class="exchange_rates block">
            <div class="dollar_exchange">
                $ 63.85р
            </div>
            <div class="exchange_delimeter">
            </div>
            <div class="euro_exchange">
                &euro; 72.01р
            </div>
        </div>
        <div class="transaction block">
            <div ng-repeat="trans in transactions">
                <div class="operation" ng-if="!$last" ng-click="toggleMobileInfo($event)">
                    <div class="date">{{dateFormat(trans.date_str)}}</div>
                    <div class="company">{{trans.company}}</div>
                    <div class="text">{{trans.text}}</div>
                    <div class="cash">{{trans.cash+trans.currency}}</div>
                </div>
                <div class="operation" ng-if="$last" ng-click="toggleMobileInfo($event)" style="border-bottom: 0px">
                    <div class="date">{{dateFormat(trans.date_str)}}</div>
                    <div class="company">{{trans.company}}</div>
                    <div class="text">{{trans.text}}</div>
                    <div class="cash">{{trans.cash+trans.currency}}</div>
                </div>
                <div class="mobile_info">
                    <div class="company_mobile">{{trans.company}}</div>
                    <div class="text_mobile">{{trans.text}}</div>
                </div>
            </div>
        </div>
        <div class="copyright block">
            &#x24B8 2016-2016 АО "Пенькофф Банк", официальный сайт, лицензия высосана из пальца Заводских Романа
        </div>
    </div>
    <div class="modal" ng-click="hide_modal()" ng-style="modal_style">
        <div class="modal_content">
            Ссылка, на которую вы нажали, является всего лишь элементом декорации.
        </div>
    </div>
    <div class="modal" ng-style="modal_new_op_style">
        <div class="modal_content">
            <div class="modal_new_op_row">
                <select id="client_select" ng-model="selectedClient" ng-change="toggleCorpSelectStyle()">
                    <option disabled selected>Выберите получателя/отправителя</option>
                    <option ng-repeat="client in clients" value="{{client}}">{{client}}</option>
                    <option>Другой</option>
                </select>
                <input class="modal_text_form" placeholder="Компания" id="corp_select" ng-style="corp_select_style"></input>
                <input class="modal_text_form" type="number" placeholder="Cумма" ng-model="selectedCash"></input>
                <select id="curr_select" ng-model="selectedCurr">
                    <option value="р">р</option>
                    <option value="$">$</option>
                </select>
            </div>
            <input class="modal_new_op_row modal_text_form" placeholder="Причина" ng-model="selectedText"></input>
            <div class="modal_new_op_row">
                <input class="btn btn-default" type="button" ng-click="create_payment()" value="Создать платёж"></input>
                <input class="btn btn-default" type="button" ng-click="hide_modal_new_op()" value="Отмена"></input>
            </div>
            <div class="modal_new_op_row">
                <div id="error_nothing_selected" ng-style="error_nothing_selected_style">Выбери ну чего-нибудь из клиентов...</div>
                <div id="empty_client_selected" ng-style="empty_client_selected_style">Хей, у тебя выбран пустой клиент</div>
                <div id="empty_text_selected" ng-style="empty_text_selected_style">Хой, у тебя пустая причина платежа</div>
                <div id="empty_sum" ng-style="empty_sum_style">Эй, у тебя нет суммы</div>
                <div id="no_curr" ng-style="no_curr_style">Ну блин, ну ты же валюту не выбрал</div>
            </div>
        </div>
    </div>
    </body>
</html>
